.top {
  background-color: #1c6132;
  color: white;
  padding: 0.1rem;
  margin: 0.1rem;
}
.top .logo {
  text-align: center;
  font-size: 0.5rem;
}
.top .logo img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}
.top .search {
  text-align: center;
}
.top .search input {
  width: 60%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.1rem;
  color: gray;
  background: #4f9639;
}
.top .search input:focus {
  background-color: white;
}
.top .lists {
  padding: 0.1rem 0.4rem;
  font-size: 0.25rem;
}
.top .lists span {
  display: inline-block;
  padding: 0.25rem;
  text-align: center;
}
